/* set background color of login page */
body {
  background: #F5F6F7;
}

/* set styles for container div */
.container {
  background: #fff;
  margin: 10%;
  /* set custom padding to extend div */
  padding: 0 15px 300px;
  border-radius: 4px;
}

/* set styles for page title */
#page_title {
  margin-bottom: 50px;
}

/* set styles for input labels */
.form-group>.text-center {
  font-size: 20px;
}

/* media queries */
@media (min-width: 768px) {
  .container {
    /* set the width to be inherited. otherwise, a default width overrides and causes problems */
    width: inherit;
  }
}
